.color {
    padding: 15px;
    border-radius: 10px;
    border: 2px solid transparent;
    background: rgb(223,5,22);
    background: linear-gradient(139deg, rgba(223,5,22,1) 0%, rgba(180,3,68,1) 100%);
    color: white;
    -webkit-box-shadow: 8px 13px 35px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 13px 35px -7px rgba(66, 68, 90, 1);
    box-shadow: 8px 13px 35px -7px rgba(66, 68, 90, 1);
    transition-duration: .75s;
    transition-property: box-shadow;
    font-weight: 700;
}



.color:hover {
    -webkit-box-shadow: 0px 0px 35px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 35px -7px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 35px -7px rgba(66, 68, 90, 1);
}

.light {
    padding: 15px;
    border: 2px solid transparent;
    border-radius: 10px;
    background:
      linear-gradient(to right, #f8f7f4, #f8f7f4),
      linear-gradient(to right, rgba(223,5,22,1) , rgba(180,3,68,1));
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    position: relative;
    border-style: outline;
    color: rgba(180,3,68,1);
    -webkit-box-shadow: 8px 13px 35px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 13px 35px -7px rgba(66, 68, 90, 1);
    box-shadow: 8px 13px 35px -7px rgba(66, 68, 90, 1);
    transition-duration: .75s;
    transition-property: box-shadow;
    font-weight: 700;
}

.color:focus,
.light:focus {
    background: var(--bs-green);
    color: white;
}

.light:hover {
    -webkit-box-shadow: 0px 0px 35px -7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 35px -7px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 35px -7px rgba(66, 68, 90, 1);
}

.small {
    padding: 5px 10px;
    margin-top: -5px;
}