.wrapper {
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 25px;
    left: 0;
    right: 0;
    z-index: 1;
}

.wrapper > * {
    flex: 1 1;
}

.buttonSection {
    text-align: right;
}