.buttonSection {
    position: fixed;
    top: 35px;
    right: 25px;
    z-index: 1;
}

.logoSection {
    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 1;
    cursor: pointer;
}

.logo {
    filter: drop-shadow(0px 0px 2px rgb(0 0 0 / 0.4));
}

