.buttonSection {
    position: fixed;
    margin: 0px;
    right: 15px;
    z-index: 1;
}

.logoSection {
    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 1;
    cursor: pointer;
}

.logo {
    filter: drop-shadow(0px 0px 2px rgb(0 0 0 / 0.4));
}

.buttonIcon {
    margin-top: -5px;
}

@media (max-width: 991px) {
    .logoSection {
        position: relative;
        width: 100%;
        left:0;
    }

    .boxLogo {
        margin: 0 auto;
        width: 120px;
        text-align: center;
    }
    .buttonSection {
        bottom: 10px;
    }
  }