.container {
  padding: 0 2rem;

}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  padding: 2rem 0;
  border-top: 1px solid;
  border-color: rgb(180,3,68);
}


.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.boxText {
  max-width: 350px;
  margin: 15px 0px;
}

.title {
  margin: 0;
  font-size: 4rem;
}

h3.title {
  margin: 0;
  font-size: 2rem;
}

.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  border: 1px dashed grey;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.textLeft {
  font-size: 24px;
  display: flex;
}

.emptySpace {
  width: 25%;
}

.context {
  background-color: #F2F2F2;
  padding-top: 2.5rem;
}


.yellow {
  background-color: #F9CB0C;
  color: #F9CB0C;
}

.purple {
  background-color: #9810AE;
  color: #9810AE;
}

.blue {
  background-color:  #444CB7;
  color: #444CB7
}

.turquoise {
  background-color:  #0CA786;
  color: #0CA786;
}

.azure {
  background-color: #14CDD3;
  color: #14CDD3;
}

.red {
  background-color: #F14823;
  color: #F14823;
}

.seaweed {
  background-color: #90D14F;
  color: #90D14F;
}



.black {
  background-color: #1A1A1A;
  color: #1A1A1A;
}

.contactForm {
  background: rgb(180,3,68);
  background: linear-gradient(139deg, rgba(180,3,68,1) 0%, rgba(223,5,22,1) 100%);
}

.textRed {
  color: rgba(180,3,68,1);
  font-weight: 800;
}

.textStrong {
  font-weight: 800;
}

.textWhite {
  color: rgba(255,255,255,1);
}

.listDot {
  display: flex;
  align-self: auto;
}

.dot {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin: 0px 10px 0px 0px;
}

.dotText {
  width: 80%;
}

.image {
  background-color: #F2F2F2;
  padding: 15px !important;
}

.icons {
  display: flex;
  font-size: 2rem;
  justify-content: right;
  margin-top: -18px !important;
}

.copy {
  color: var(--bs-gray-600);
}

.icons a svg {
  margin-left: 1rem;
  color: var(--bs-gray-600);
}

.icons a svg:hover {
  color: rgba(180,3,68,1);
}

.checkedList li {
  position: relative;
  padding-left: 1.5em;
}

.checkedList {
  list-style: none;
  padding-left: 0;
}

.checkedList li:before {
  content: '✓';
  position: absolute;
  color: white;
  left: 0;
  width: 1em;
  height: 1em;
}

.minHeightValue {
  min-height: 780px;
}

.quotes {
  background-color: #F2F2F2;
  padding: 10px 50px;
}

.iconQuotes {
  text-align: right;
}

.mail a, .phone a, .hiddenData h3 {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

.forHidden {
  min-height: 60px;
  width: 100%;
}

.hiddenData, .mail, .phone {
  display: flex;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}